.containerProject {
  max-width: 1200px;
  width: 90%;
  margin: auto;

  padding: 50px 0;

  background: whitesmoke;
}

.containerList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  width: 100%;
  gap: 30px;
}

.title {
  font-size: 4rem;
  color: green;
}
